.registerbtn {
  transition: all 0.3s;
  border: 2px solid #212529;
  border-radius: 14px;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #ffc400;
  --bs-btn-hover-border-color: #212529;
  --bs-btn-focus-shadow-rgb: 33, 37, 41;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #ffd000;
  --bs-btn-active-border-color: #212529;
}
.navbar .nav-link {
  font-size: 1.1rem;
}

/* when navlink is active make the color purple */
.navbar .nav-link.active {
  color: #7e04a0;
}
/* when navlink is hover make the color purple */
.navbar .nav-link:hover {
  color: #7e04a0;
}

/* -------------hero section to be 100vh once its more than mobile view but when it turns mobile view for the height to turn auto---------------------------- */
@media (min-width: 1200px) {
  /* #hero {
    height: 85vh;
    margin-bottom: 0;
  } */
  #Register {
    height: 100vh;
  }
  #join-us {
    height: 100vh;
  }
}

#Register {
  background-color: #8d00b3;
}

/* -------------------------------------register form Title and message------------------------------------------------------------------------------ */
.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message {
  color: rgb(136, 136, 136);
  font-size: 14px;
  /* italic */
  font-style: italic;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* ---------------------------- vertical white line -------------------------- */

/* Add this to your style.css */
.border-cal {
  border-bottom: 1px solid #ffffff; /* Change color if desired */
}

@media (min-width: 1200px) {
  .border-cal {
    border-bottom: none;
    border-right: 1px solid #ffffff; /* Change color if desired */
  }
}

/*------------------------------------ Qr-code card---------------------------------------------------------------------- */
.QRcard {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}

.QRcard__content {
  background: rgb(255, 255, 255);
  background-image: url("../Assets/img/QR-Code.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 17px;
  width: 100%;
  height: 100%;
}

/* --------------------------------------Host Logo cards-------------------------------------------------------------------- */

.host-card {
  width: 200px;
  height: 200px;
  transition: all 0.4s;
  font-size: 10px;
  border: none; /* Remove border */
}

.host-card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1);
  background: rgb(161, 4, 219);
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border: none; /* Remove border */
}

.host-card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  transform: rotate(90deg) scale(-1);
  color: white;
  text-align: center;
  padding: 4px;
}

.host-card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1rem;
  transform: rotate(0deg);
}
/* img-logos */

.img-fluid {
  width: auto;
  max-height: 100%;
}
/* ----------------------------------------timeline------------------------------------------------------------------ */
.bsb-timeline-8 .timeline > .timeline-item .timeline-meta {
  left: -50%;
  justify-content: flex-start;
}

.date-meta {
  color: #fff;
  background: #5e06b5;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.timeline-content {
  background: #fff;
}
.bsb-timeline-8 .timeline > .timeline-item:after {
  z-index: 2;
}
.bsb-timeline-8 .timeline::after {
  z-index: 1;
  background-color: #005dec;
}

@media (min-width: 768px) {
  .bsb-timeline-8 .timeline > .timeline-item .timeline-meta {
    top: calc(45% - 10px);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .bsb-timeline-8 .timeline > .timeline-item .timeline-meta {
    left: -33%;
  }
}
/* ---------------------------------------toggle button----------------------------------------------------------------- */

.toggle-btn {
  background: #fff;
  border: 1px solid #1b082f;
  border-radius: 10px;
  padding: 5px 3em;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1px;
}

.toggle-btn:hover {
  background: #5e06b5e0;
  color: #fff;
  /* let the hover be smooth */
  transition: all 0.3s;
}

.toggle-btn.active {
  background: #fdc200;
  color: #000000;
  border: 1px solid #5e06b55f;
}

/*---------------------------------------- footer --------------------------------------------------------------------- */

#footer {
  background: linear-gradient(60deg, rgba(247, 184, 1) 35%, rgb(147, 30, 231) 35%);
}
